{% extends 'layout.html' %}

{% block body %}
    <h1>Edit Video</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ render_field(form.title, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.link, class_="form-control") }}
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}