<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4KGaming</title>
    <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class="container" id="container">
        {% include 'includes/_flash.html' %}
        {% block body %} {% endblock body %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>