<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4KGaming</title>
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Josefin+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class="container" id="container">
        {% include 'includes/_flash.html' %}
        {% block body %} {% endblock body %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor', {
            skin: 'moono-dark,/static/moono-dark/'
        });
    </script>
</body>
</html>